vsphere_server       = "<vsphere_server_ip_or_hostname>"
vsphere_username     = "<vsphere_username>"
vsphere_password     = "<vsphere_password>"
vsphere_datacenter   = "<datacenter_name>"
vsphere_cluster      = "<cluster_name>"
resource_pool        = "<resource_pool_name>"
vsphere_datastore    = "<datastore_name>"
network_name         = "<network_name>"
ubuntu_base_image    = "<ubuntu_base_image_name>"
webserver_base_image = "<webserver_base_image_name>"