[Unit]
Description="Fetch fresh IP (new clone)"
After=network.target
[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/sbin/dhclient;/usr/sbin/dhclient -r;/usr/sbin/dhclient"
[Install]
WantedBy=network-online.target