[Unit]
Description="Fetch fresh IP (new clone)"

[Service]
Type=oneshot
ExecStart=/usr/bin/networkctl renew $(ip link show | awk -F ': ' '{print $2}' | awk '{print $1}' | grep ens)
[Install]
WantedBy=network.target